{% include 'base.html.twig' %}

{% block body %}


	<!DOCTYPE html>
	 <html lang="en">
		<head>
			<title>Bootstrap Example</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

		</head>
		<style>

			.card {
				border: 1px solid #dadada;
				width: 100%;
				height: auto;
				margin-top: 25px;
			}

			.card-title {
				padding: 0;
			}
		</style>
		<body>
			<div class="dropdown" style="left: 5%; bottom: 15%; padding: 10px;">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					Ville
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li>
						<a class="nav-link" href="{{path('ListeHack')}}">Tout</a>
					</li>
					{% for Hackathon in lesHackathons %}
						<li>
							<a class="dropdown-item" href="">{{Hackathon.ville}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</body>
		<div class="container">
			<div class="row">
				{% for Hackathon in lesHackathons %}
					<div class="col-4">
						<div class="card">
							<img class="card-img-top" src="https://th.bing.com/th/id/OIP.AXF8IYKqC3Y7JxYRaUrCPQHaEK?pid=ImgDet&rs=1" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">{{Hackathon.theme}}</h5>
								<h5 class="card-title">{{Hackathon.ville}}</h5>
								Dates limites <h5 class="card-title">{{Hackathon.datelimite|date('d/m/y')}}</h5>
								 Places restantes :<h5 class="card-title">{{Hackathon.nbplaces}}</h5>
								<p class="card-text">Cliquez sur le bouton "En savoir plus" pour afficher toutes les informations concernant ce Hackathon</p>
								<a href="{{path('ListeUnHack', {'id':Hackathon.idHackathon})}}" class="btn btn-primary">En savoir plus</a>
								<a href="{{path('InscriptionHackathon', {'id':Hackathon.idHackathon})}}" class="btn btn-primary">S'inscrire</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>


		{% include 'footer.html.twig' %}
	{% endblock %}
</html>
