{% include 'base.html.twig' %}

{% block body %}
	
<div class="card">
            
                <div class="card-body" style="text-align:center;">
              Thème :  <font color ="#2897df"> <h5 class="card-title">{{Hackaton.theme}}</h5></font>
              Ville :  <p class="card-text">{{Hackaton.ville}}</p>
              Date de début :  <p class="card-text">{{Hackaton.datedebut|date('d/m/y')}}</p>
              Heure de début :  <p class="card-text">{{Hackaton.heuredebut|date('H:i')}}</p>
              Date de fin :  <p class="card-text">{{Hackaton.datefin|date('d/m/y')}}</p>
              Heure de fin :  <p class="card-text">{{Hackaton.heurefin|date('H:i')}}</p>
              Lieu :  <p class="card-text">{{Hackaton.lieu}}</p>
              Rue :  <p class="card-text">{{Hackaton.rue}}</p>
              Code postal :  <p class="card-text">{{Hackaton.codepostal}}</p>
              Date limite :  <p class="card-text">{{Hackaton.datelimite|date('d/m/y')}}</p>
              Nombre de places :  <p class="card-text">{{Hackaton.nbplaces}}</p>  
            </div>

{% endblock %}
{% include 'footer.html.twig' %}